Repository CodeChain-io/codechain-dashboard, pull requests merged in 2019-05, with the labels that each got.

#37 Print an error message when the ipc file does not exist
  client/src/process/rpc.rs
Labels: client

#27 Add readme for alerts
  server/README.md
Labels: server

#44 Remove unused logfile serving
  server/README.md
  server/src/main.rs
  ui/src/components/NodeList/NodeDetailContainer/NodeDetail/NodeDetail.tsx
Labels: server, ui
