Repository CodeChain-io/codechain-dashboard, pull requests merged in 2019-06, with the labels that each got.

#47 Use axios 0.18.1
  ui/package.json
  ui/yarn.lock
Labels: bug

#50 Add a description about NETWORK_ID
  server/README.md
  server/src/daily_reporter.rs
Labels: server

#52 Upgrade js-yaml
  ui/yarn.lock
Labels: ui

#53 Do not send disk usage alarm when the data is null value
  server/src/agent/agent.rs
Labels: server

#54 Send error message when a node is out of memory
  server/src/agent/agent.rs
  server/src/noti/mod.rs
Labels: server

#57 Show current connection count in the alarm
  server/src/agent/agent.rs
Labels: server

#59 Change the not enough free memory error to a warning
  server/src/agent/agent.rs
  server/src/noti/mod.rs
Labels: server
